{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
      <div class="post container">
        <div class="row">
          <div class="col-sm-6">
            <p class="date">Published: {{ post.published_date }}</p>
          </div>
          <div class="col-sm-4 col-sm-offset-2 text-right">
            <p class="date">By: {{ post.author }}</p>
          </div>
        </div>
          <h2 class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}
{% endblock %}
